$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

//$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
//$font-family-sans-serif:  "Avenir W01", Arial, sans-serif;
$fa-font-path:        "../bower_components/fontawesome/fonts"; // for referencing Bootstrap CDN font files directly
$font-family-base: "Avenir W01", Arial, sans-serif;
$font-size-base:          16px;
//$headings-color:          #546799;
$brand-primary:           #546799;
//$brand-success:           #7b9b3d;
$brand-success:           #ba8aa4;
$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             darken($btn-success-bg, 5%);
