@import "variables";

// bower:scss
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
// fontawesome:scss
@import "../bower_components/fontawesome/scss/font-awesome";

// SmartMenus jQuery Bootstrap Addon CSS
// http://vadikom.github.io/smartmenus/src/demo/index.html
@import "jquery.smartmenus.bootstrap.scss";

//*************************************************************************/
$planview-lilac: #ba8aa4;
@mixin nav-top-default {
  background-position:8px 2px;
  background-repeat:no-repeat;
  border-bottom:7px solid #FFF;
  color: #999;
  font-size:14px;
  font-weight:bold;
  height:33px;
  min-width:100px;
  padding:0px 0px 0px 30px;
}
//*************************************************************************/

body {
  background-color: #ebebeb;
  margin:0 20px 20px 20px;
  @media screen and (max-width: 450px) {
    margin:0;
  }
}
#site-wrapper {
  background-color: #FFF;
  margin:auto;
  max-width: 1057px;
  min-width: 320px;
  padding:0em;
  width: 100%;
  @media screen and (max-width: 450px) {
    margin:0;
  }
}
header {
  &#site-header {
    min-height:108px;
    height:100%;
    width:100%;
  }
  #left-gray-border {
    border-left:solid 8px #666666;
    margin-left:15px;
  }
  .site-title {
    background: {
      size: contain;
      image: url('/img/logo-planview-enterprise-product-demos-265x90.png');
      repeat: no-repeat;
      position: center center;
    }
    margin:10px 0;
    width: 265px;
    height: 90px;
    @include text-hide();
    font-family: $font-family-base;
    h1 {
      font-size:30px;
      margin:0;
      padding:0;
    }
  }
  .site-nav-top-padding {
    min-height:77px;
  }

  //* top nav links */
  nav.site-nav {
    @media screen and (max-width: $screen-xs-max) {
      ul.dropdown-menu {
        // display:none;
      }
      .collapse {
        display:block;
      }
      .navbar-nav .sub-arrow, .navbar-nav .collapsible .sub-arrow {
        border-width:0px;
      }
    }
    ul.nav {
      min-width: 400px;
      padding-left:0px;
      @media screen and (max-width: 450px) {
        min-width: 0;
      }
      @media screen and (max-width: $screen-xs-max) { //768px
        margin: 10px auto;
        a.navbar-nav-link-top {
          display:block;
          visibility: visible;
          max-width:200px;
          margin-left:25px;
        }
      }
      a#topnav-home {
        @include nav-top-default;
        background-image:url('/img/icon-home-20x16.png');
        &:hover {
          background-color:#FFF;
          border-bottom-color:$planview-lilac;
        }
      }
      a#topnav-demos {
        @include nav-top-default;
        background-image:url('/img/icon-demos-20x16.png');
        &:hover {
          background-color:#FFF;
          border-bottom-color:$planview-lilac;
        }
      }
      a#topnav-logout {
        @include nav-top-default;
        background-image:url('/img/icon-logout-20x16.png');
        &:hover {
          background-color:#FFF;
          border-bottom-color:$planview-lilac;
        }
      }
      a#topnav-admin {
        @include nav-top-default;
        background-image:url('/img/icon-admin-area-20x16.png');
        &:hover {
          background-color:#FFF;
          border-bottom-color:$planview-lilac;
        }
      }
      li.open a#topnav-admin {
        background-color:#FFF;
        border-bottom-color:$planview-lilac;
      }
    }
  }
  //* social media links */
  .follow-links {
    margin-right:30px;
    min-width:180px;
    text-align: center;
    @media screen and (min-width: $screen-sm-min) {
      float: right;
    }
    ul.list-inline {
      margin-bottom:0;
      li a {
        color:#999999;
        margin-left:3px;
      }
    }
  }
}
//* style the top nav link for the current page */
.home a#topnav-home,
.demo a#topnav-demos,
.demos a#topnav-demos,
.admin a#topnav-admin {
  border-bottom-color:$planview-lilac !important;
}

#content-topper {
  margin-top: 0px;
  width: 100%;
  height: 15px;
  background-image: url('/img/bg-top-nav-bottom-1037x15.png');
  background-position: top left;
  background-repeat: repeat;
}

main {
  //* main general styles */
  min-height:400px;
  padding:0 4em 2em 4em;
  @media screen and (max-width: 450px) {
    padding:0 1em 1em 1em;
  }
  h1 {
    color: #333333;
    font: {
      size: 24px;
      weight: bold;
    }
  }
  h2 {
    color:#5381ac;
    margin: 1em 0em 1em 0em;
    font: {
      size: 18px;
      weight: bold;
    }
  }
  ul li {
    margin-left: 0px;
    list-style-image: url('/img/bullet-arrow-8x10.png');
    margin-bottom: .15em;
  }
  div.right-sidebar {
    width:100%;
    h2 {
      color:#000;
      font: {
        size:20px;
        weight:bold;
      }
      margin:0px 0px 10px -5px;
      padding:4px 0px 0px 25px;
      &#header-contact {
        background-image:url('/img/icon-phone-contact-25x25.png');
        background-position:0px 2px;
        background-repeat:no-repeat;
      }
    }
    .module-contact-info {
      background-color:#ccdce4;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      max-width: 250px;
      padding:10px 20px;
      text-align:left;
      a.email-link { white-space: nowrap; }
    }
    .module-related-content {
      text-align:left;
      margin:20px 0px 20px -20px;
      h2 { font-size:16px; }
    }
  }

  //* page-specific styles */

  //* home (public) */
  .panel-default {
    background-color:#ccdce4;
    margin-top:20px;
    padding:20px 20px 10px 20px;
    @media screen and (max-width: $screen-sm-max) {
      padding:0;
    }
    @media screen and (max-width: $screen-xs-max) {
      margin-top:5px;
    }
    .error-message {
      color:#FF0000;
      font-weight:bold;
    }
  }
  .panel-homepage-login {
    background-color: #dcdcdc !important;
  }

  //* demos page (demo list) */
  a.demo-link {
    font-weight: bold;
  }
  ul.product-demo-list {
    clear:left;
    li {
      margin-bottom: 1em;
    }
  }
  div.demo-description {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    margin: 0.5em 0px 0px 0px;
    padding: 5px 10px 8px 10px;
    overflow:hidden;
    li {
      margin-bottom: .15em;
    }
  }

  //* demo page (individual demos) */
  div.limelight-video-respond {
    margin-bottom:1em;
  }

  //* admin user page styles */
  div.admin-bg {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 20px 20px;
    label {
      font-weight:normal;
    }
    div.row-cell {
      min-height:40px;
    }
  }
}

//* footer styles */
.footer-logo {
  margin-top: 1em;
  margin-bottom: 1em;
  .site-title-footer-planview {
    background: {
      size: contain;
      image: url('/img/planview-logo-333-148x38.png');
      repeat: no-repeat;
      position: center center;
    }
    margin-left: auto;
    margin-right: auto;
    width: 148px;
    height: 38px;
    @include text-hide();
    font-family: $font-family-base;
    a { 
      color:transparent;
    }
    h1 {
      color:transparent;
      margin:0;
      padding:0;
    }
  }
}
footer {
  &#site-footer {
    background-color:#618db4;
    color:#FFF;
    padding:.5em 1em;
    text-align:right;
  }
}

//* other styles */
button#generate_password {
  margin-right:1em;
}
label {
  color:$brand-primary;
  font-weight: normal;
}
.alignecenter {
  text-align: center;
}
.form-button {
  display: inline;
}
.label-generate-password {
  color: #546799;
}

//*************************************************************************/
//* page-specific styles */
//* home */
.home {
  main {
    min-height:400px;
    @media screen and (max-width: $screen-sm-max) {
      min-height:0;
    }
  }
  .right-sidebar {
    text-align: center;
  }
  .module-contact-info {
    margin: auto;
    margin-top:20px;
  }
}
//* demos page (demo list) */
.demos {
  main {
    h1 {
      float:left;
    }
    p.demo-list-instructions {
      clear:left;
      float:left;
    }
    .right-sidebar {
      float:right;
      margin: 0 0 10px 20px;
      max-width: 250px;
    }
  }
}
//* individual demo pages */
.demo {
  h1#page-title {
    margin-bottom: 30px;
    margin-top: 0;
    @media screen and (max-width: 450px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  p.back-to-demos {
    margin-top: 20px;
    @media screen and (max-width: 450px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  div.right-sidebar {
    margin-left: 30px;
    max-width: 250px;
    @media screen and (max-width: $screen-sm-max) {
      max-width: 100%;
    }
  }
}
