body {
	margin:0em 2em 2em 2em;
}
header#site-header,
section#page-body,
footer#site-footer {
	max-width:1037px;
	margin-left:auto !important;
	margin-right:auto !important;
}
main {
	margin-bottom:0em;
}

header#site-header {
background-color: #FFF;
background-position:bottom left;
background-image:url('/img/product-demos-header-1037x108.png');
background-repeat:no-repeat;
border:1px solid #000;
border-top-width:0px;
height:108px;
width:1037px;
position: relative;
}

div#site-header-content {
	position: absolute; bottom: 0; left: 0;
	width:1037px;
}
div.row div {
	border:1px solid #FF0000;
}

nav#nav-menu-demos ul {
	display:block;
	line-height:1.4em;
	list-style-type:none;
	margin-left:300px;
}
nav#nav-menu-demos ul li {
float: left;
width: 100px;
text-align: center;
}
nav#nav-menu-demos ul ul {
	display:block;
	line-height:1.4em;
	list-style-type:none;
	margin-left:0px;
}
/* style the top nav links */
a#topnav-home {
background-position:8px 3px;
background-image:url('/img/icon-home-20x16.png');
background-repeat:no-repeat;
font-weight:bold;
border-bottom:7px solid #FFF;
}
a#topnav-demos {
background-position:8px 3px;
background-image:url('/img/icon-demos-20x16.png');
background-repeat:no-repeat;
font-weight:bold;
border-bottom:7px solid #FFF;
}
a#topnav-logout {
background-position:8px 3px;
background-image:url('/img/icon-logout-20x16.png');
background-repeat:no-repeat;
font-weight:bold;
border-bottom:7px solid #FFF;
}
a#topnav-admin {
background-position:8px 3px;
background-image:url('/img/icon-admin-area-20x16.png');
background-repeat:no-repeat;
font-weight:bold;
border-bottom:7px solid #FFF;
}

section#page-body {
	border:1px solid #00FF00;
	margin:0em;
	padding:0em 2em 2em 2em;
}

footer#site-footer {
background-color:#5381ac;
color:#FFF;
padding:0.5em 1em;
text-align:right;
}